*
{
  margin: 0px;
}

body{
  background-color:#f5f6fa;
}

.app__header
{
  display: flex;
  
  justify-content: space-between;
  align-items: center;

  margin-top: 5px;
   
  margin-bottom: 10px;
}

.app__stats{
  display: flex;

  justify-content: space-between;

  margin-bottom: pink;
}

.App{
     display: flex;

     justify-content: space-evenly;

     margin: 4px;

     padding: 20px;
}
.app__left{
  flex: 0.9;
}


@media(max-width : 990px)   
{

  .App{
    flex-direction: column;
  }

}

.app__header h1{
  color: red;

  font-size: 2rem;

  
}